# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# .env.local
NODE_ENV=development
NEXT_PUBLIC_API_URL=http://localhost:3000

# Admin - Login hashPassword 스크립트 추가 X
scripts/hashPassword.js

# dev.db 파일 함께 배포
#!prisma/dev.db
#!dev.db
.env
prisma/dev.db